<a href="https://colab.research.google.com/github/dinhtiendat2k3/BT-PTDL/blob/main/b%C3%A0i_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv', sep="\t")
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

print("Số lượng quan sát trong tập dữ liệu:", len(chipo))

Số lượng quan sát trong tập dữ liệu: 4622

In [ ]:
# Solution 2

num_observations = chipo.shape[0]
print("Số lượng quan sát trong tập dữ liệu:", num_observations)

Số lượng quan sát trong tập dữ liệu: 4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
print("Column names:", chipo.columns.tolist())

Column names: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:

# Count the occurrences of each item
item_counts = chipo['item_name'].value_counts()

# The most-ordered item is the index of the first element in item_counts
most_ordered_item = item_counts.index[0]

print(f"Mặt hàng được đặt hàng nhiều nhất: {most_ordered_item}")

Mặt hàng được đặt hàng nhiều nhất: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:

# Count the occurrences of each item
item_counts = chipo['item_name'].value_counts()

# The most-ordered item is the index of the first element in item_counts
most_ordered_item = item_counts.index[0]

# Get the number of times the most ordered item was ordered
quantity_most_ordered = item_counts.iloc[0]

print(f"Số lượng mặt hàng {most_ordered_item} được đặt hàng: {quantity_most_ordered}")

Số lượng mặt hàng Chicken Bowl được đặt hàng: 726

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:

# Count the occurrences of each item in the 'choice_description' column
choice_counts = chipo['choice_description'].value_counts()

# The most-ordered item in 'choice_description' is the index of the first element
most_ordered_choice = choice_counts.index[0]

print(f"Mục được đặt hàng nhiều nhất trong cột Choice_description là: {most_ordered_choice}")

Mục được đặt hàng nhiều nhất trong cột Choice_description là: [Diet Coke]

### Step 12. How many items were orderd in total?

In [ ]:

total_items_ordered = chipo['quantity'].sum()
print(f"Tổng số mặt hàng được đặt hàng: {total_items_ordered}")

Tổng số mặt hàng được đặt hàng: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:

# Convert 'item_price' to numeric, handling errors
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)

# Calculate revenue
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print(f"Tổng doanh thu trong khoảng thời gian này là: ${revenue}")

Tổng doanh thu trong khoảng thời gian này là: $39237.02

### Step 15. How many orders were made in the period?

In [ ]:


# Calculate the number of orders
num_orders = chipo['order_id'].nunique()

print(f"Tổng số lượng đơn hàng được thực hiện trong khoảng thời gian này: {num_orders}")

Tổng số lượng đơn hàng được thực hiện trong khoảng thời gian này: 1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# solution 1

# Calculate the average revenue per order
average_revenue_per_order = revenue / num_orders

print(f"Doanh thu trung bình mỗi đơn hàng là: ${average_revenue_per_order:.2f}")

Doanh thu trung bình mỗi đơn hàng là: $21.39

In [ ]:

# Calculate the average revenue per order using the sum of revenue per order
average_revenue_per_order = chipo.groupby('order_id')['item_price'].sum().mean()
print(f"Doanh thu trung bình mỗi đơn hàng là: ${average_revenue_per_order:.2f}")

Doanh thu trung bình mỗi đơn hàng là: $18.81

### Step 17. How many different items are sold?

In [ ]:

# Calculate the number of different items sold
num_different_items = chipo['item_name'].nunique()

print(f"Số lượng mặt hàng khác nhau được bán: {num_different_items}")

Số lượng mặt hàng khác nhau được bán: 50