<a href="https://colab.research.google.com/github/dinhtiendat2k3/BT-PTDL/blob/main/b%C3%A0i_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [ ]:
data = {'evolution':['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp':[45,39,44,45], 'name':['Bulbasaur','Charmander', 'Squirtle', 'Caterpie'], 'pokedex':['yes','no','yes','no'], 'type':['grass','fire','water','bug']}
df5 = pd.DataFrame(data)
print(df5)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [ ]:
pokemon = pd.DataFrame(data)
print(pokemon)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [ ]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [ ]:
pokemon['place'] = ['forest', 'volcano', 'lake', 'meadow']
print(pokemon)

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes   forest
1  Charmander   fire  39  Charmeleon      no  volcano
2    Squirtle  water  44   Wartortle     yes     lake
3    Caterpie    bug  45     Metapod      no   meadow

### Step 6. Present the type of each column

In [ ]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: How to filter out PokÃ©mon with HP greater than 40?.

In [ ]:
strong_pokemon = pokemon[pokemon['hp'] > 40]
print(strong_pokemon)

        name   type  hp  evolution pokedex   place
0  Bulbasaur  grass  45    Ivysaur     yes  forest
2   Squirtle  water  44  Wartortle     yes    lake
3   Caterpie    bug  45    Metapod      no  meadow