<a href="https://colab.research.google.com/github/dinhtiendat2k3/BT-PTDL/blob/main/b%C3%A0i_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:

import pandas as pd
import numpy as np

# Step 2 & 3
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)

### Step 4. Create columns for the dataset

In [4]:

iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

### Step 5.  Is there any missing value in the dataframe?

In [5]:

iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [6]:

iris.loc[10:29, 'petal_length'] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [7]:

iris.petal_length.fillna(1, inplace=True)

<ipython-input-7-eae3c0b9d776>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  iris.petal_length.fillna(1, inplace=True)

### Step 8. Now let's delete the column class

In [8]:

iris.drop('class', axis=1, inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [9]:

import numpy as np
iris.iloc[:3] = np.nan

### Step 10.  Delete the rows that have NaN

In [10]:

iris = iris.dropna(how='any')

### Step 11. Reset the index so it begins with 0 again

In [11]:

iris = iris.reset_index(drop = True)

### BONUS: Create your own question and answer it.

In [12]:

mean_sepal_width = iris['sepal_width'].mean()
print(f"The mean of the 'sepal_width' column is: {mean_sepal_width}")

The mean of the 'sepal_width' column is: 3.0500000000000003